<p>{{ title }}</p>

<form *ngIf="ishowform == true" action="" method="POST" role="form">
    <legend>Thêm mới sinh viên</legend>

    <div class="form-group">
        <label for="">Tên sinh viên</label>
        <input type="text" class="form-control" id="" placeholder="">
    </div>
   
    <button  type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
<!-- <span [ngSwitch]="ishowform">
<button *ngSwitchCase="false" on-click="toggleForm()" type="button" class="btn btn-success">Thêm mới</button>
<button *ngSwitchCase="true" on-click="toggleForm()" type="button" class="btn btn-warning">đóng lại</button>
</span> -->

<button *ngIf="!ishowform" on-click="toggleForm()" type="button" class="btn btn-warning">Thêm mới</button>
<button *ngIf="ishowform" on-click="toggleForm()" type="button" class="btn btn-warning">đóng lại</button>

<table  *ngIf="ishowform == false" class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="students.length == 0">
            <td colspan="4">Không có dữ liệu</td>
        </tr>

        <!-- <app-student 
            *ngFor="let student of students; let i = index" 
            [input_student]="student" 
        ></app-student> -->

        <tr 
            app-student 
            *ngFor="let student of students; let i = index"
            [input_title]="title" 
            [input_student]="student"
            [input_i]="i"
            (handleDeleteItem)="deleteItem($event)"
            >
        </tr>
    </tbody>
</table>

